@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

body{
    margin: 0;
    padding: 0;
    background-color: #FFEAEA;
}
header{
    width: 100%;
    color: black;
    background-color: #FFD966;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
}

form{
    margin: 60px auto 0 auto;
    padding: 15px 20px 15px 15px;
    max-width: 400px;
    background-color: #413f3f;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input{
    width: 400px;
    margin-bottom: 10px;
    border: none;
}
textarea{
    width: 400px;
    border: none;
}