.info{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 14px;
    width: auto;
    min-width: 300px;
    width: 40vw;
    border: none;
    border-radius: 5px;
    font-family: "filson-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.first{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first h1, .first p{
    margin: 0;
    color: #45FFCA;
}

.first p{
    color: black;
    margin: 4px;
}

.remove{
    width: 20px;
    height: 20px;
    transition: 0.4s;
    cursor: pointer;
}