@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');
.notactive {
    position: fixed;
    bottom: 0;
    margin: 0 35vw;
    padding: 10px 15px 11px 15px ;
    width: 30vw;
    min-width: 300px;
    background: none;
    border-radius: 6px;
    border: 1px solid rgb(136, 41, 41);
    transition: all 0.3s;
    max-height: 26px;
    overflow-y: hidden;
    bottom: 20px;
    cursor: pointer;
    overflow-x: hidden;
  }
  
  .active {
    position: fixed;
    bottom: 0;
    margin: 0 35vw;
    padding: 11px 20px 15px 15px;
    width: 30vw;
    min-width: 300px;
    background: none;
    border-radius: 6px;
    border: 1px solid rgb(136, 41, 41);
    transition: all 0.3s;
    max-height: 200px;
    bottom: 20px;
  }
  
form:hover{
    border: 1px solid blue;
}

form h2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px;
}




.input{
    padding: 4px 20px 4px 10px;
    margin-top: 10px;
    background: none;
    width: 90%;
    min-height: 30px;
    margin-bottom: 10px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid gray;
}
.input:focus {
    outline: none;
    animation: linie 1s infinite;
}


textarea{
    padding: 8px 20px 4px 10px;
    background: none;
    width: 90%;
    border: none;
    height: 30px;
    resize: none;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;;
    font-size: 18px;
    border-bottom: 1px solid gray;
}
textarea:focus {
    outline: none;
    animation: linie 2s infinite;
}



@keyframes linie{
    0%{
        border-bottom: 1px solid #687EFF;
    }
    100%{
        border-bottom: 1px solid gray;
    }
}



.button{
    width: 45x;
    border-radius: 50%;
    border: none;
    background: none;
    display: flex;
    justify-content: right;
    max-height: 45px;
    margin-left: 92%;
    transform: translateY(30px);
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;;
    transition: 0.4s;
}
.button:hover{
    transform: translateY(20px);
    scale: 1.1;
}

.image{
    width: 25px;
    background-color: blue;
    border-radius: 50px;
    padding: 10px;
    color: white;
}

.image2{
    height: 28px;
    padding: 0;
    color: white;
   
}