aside {
    position: fixed;
    background-color: white;
    width: 22vw;
    min-width: 200px;
    max-width: 300px;
    height: 96vh;
    padding: 2vh 20px;
    display: flex;
    flex-direction: column;
}

aside h1 {
    height: auto;
}

#list {
    padding-top: 20px;
    overflow-y: auto;
    height: auto;
    margin: 0;
}



#addButton {
    margin-top: auto; /* Umieść przycisk na dole kontenera */
    width: 90%;
    padding: 12px 16px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: blue;
    position: relative;
    font-weight: 500;
    font-style: normal;
    font-size: 21px;
    text-align: center;
}

#addButton:hover {
    background-color: rgb(3, 3, 224);
}
